<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
  <h2>Your images</h2>
  <hr>
    <% for(let i=0; i<images.length && i<20; i++){%>
        <img src= <%= images[i].download_url %> >
        <h4> Cost: $<%= images[i].cost %></h4>
        <h5> Author: <%= images[i].author %></h5>
      <% } %>
 


  </div>

</body>
</html>
